body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
}

.title {
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    text-align: center;
    margin-bottom: 30px;
}

.description {
    color: #444;
    margin-bottom: 10px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.generateBtn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #5cdb95;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.generateBtn:hover {
    background: #379683;
}

.hidden {
    display: none;
}

#downloadLink {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #8ee4af;
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}

#keywordFields {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 5px;
}
